@(greeting: String)

<script src="https://unpkg.com/vue@@3.0.4/dist/vue.runtime.global.js"></script>
<script src='@routes.Assets.versioned("vue/components/greeting-form.js")'></script>

<script>
  function parse(s) {
    return JSON.parse(decodeURIComponent(escape(atob(s))));
  }
</script>

<div id="app"></div>
<script>
  Vue
    .createApp({
      render: function() {
        return Vue.h(GreetingForm.default, {
          greeting: @Html(libraries.Renderer(greeting))
        });
      }
    })
    .mount('#app');
</script>
